<% provide(:title, "Home") %>
 
 <div class="search">

  <%= render 'layouts/search' %>
  
  </div>
<div class="mainCont">
    
    <h2>Welcome to Scarf Store</h2>
    <%=image_tag("scarf1.png", :class=> "welcome") %>
    <%=image_tag("scarf5.png", :class=> "welcome") %>
    <%=image_tag("scarf9.png", :class=> "welcome") %>
    <%=image_tag("scarf6.png", :class=> "welcome") %>
</div>
  
<hr>
<br><br>

   <%= render 'layouts/popularproducts' %>
<br><br>

   
<br><br>
 