<div class="mainCont">

<h2><b>Thank you</b></h2>


<table id="customers">
    
    <tr>
    
    <% @orders.limit(1).order(id: :desc).each do |order| %>
    
    <td>Order you just placed is <%= order.id %></td>
    <% end %>
    
    
    </tr>
    
</table>
<table id="customers">
   
        
        </div>
 <table id="customers">
     
     <tr class="navtitle">
            
            <td class="title" >Name</td>
           
            <td class="quantity" >Qty</td>
            <td class="image" >Price</td>
            <td class="image" >Total Cost</td>
            
        </tr> 
     <% @total = 0 %>
     
     <% @orderitems.each do |id, quantity| %>
     
      
     
     <tr>
     <% item = Orderitem.find_by_id(id) %>
     
     <td><%= item.title %></td>
     <td><%= item.quantity %></td>
     <td><%= number_to_currency(item.price, :unit=> "€") %></td>
     <td><%= number_to_currency(item.quantity * item.price, :unit=> "€") %></td>

     </tr>
     
     <% linetotal =(item.quantity * item.price) %>
     <% @total += linetotal %>
     <% end %>
     <tr>
         <td> Order Total: &euro; <%= @total %></td>
         
     </tr>
     
     <tr>
         <% shipping = 8 %>
         <% @grandtotal = shipping + @total %>
         <td>Shipping &euro;8</td>
         <td>Your total payable today is: €<%= @grandtotal %></td>
     </tr>
     
 </table>
 
   <div class="mainCont">
       
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="company2@liammccabe.ie">
    <input type="hidden" name="item_name" value="Scarf Store Order Number <%= @order.id %>">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="amount" value="<%= @grandtotal %>">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="return" value="https://rails-container-liamme.c9users.io/" >
</form>
    
      <!--<a href="/paid/<%= @order.id %>" class="button">Pay For Me!</a>-->
    </div>


</div>